.card-pricing_container{
    position: absolute;
    bottom: 0px;
    left: 0;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-family: Calibri;
    padding: 10px;
}
.card-pricing_title{
    margin-bottom: 5px;

}
.card-pricing_value {
    display: flex;
    justify-content: space-between;

}
.pricing-value_console{
    display: flex;

}
.pricing-value_console >span{
    font-weight: bolder;
    color: aqua;
    margin-right: 10px;
}